<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>My Developer Skills</title>
</head>
<body>
  <h1>My Developer Skills as of <%= time %> </h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <form 
        action="/skills/<%= skill._id %>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="submit">X</button>
      </form>
        <a href="/skills/<%= skill._id %>">
        <%= skill.text %> 
				- 
				<%= skill.obtained ? 'Yes' : 'Not yet' %>
        -
        <%= skill.progress + '%' %>
			</li>
    <% }) %>
  </ul>
  <a href="/skills/new">Add a Skill</a>
</body>
</html>